.auth-form {
  &-inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 40px;

    &__item {
      padding: 12px 24px;
      border: 2px solid $border-clr-500;
      border-radius: $radius;

      &:focus {
        border: 2px solid $primary;
        outline: none;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &-buttons {
    &__btn {
      border-radius: $radius;
      font-weight: bold;
      background-color: $primary;
      color: $white;
    }
  }
}
